
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.has-error {
  border-color: red;
}

$blue: lighten(#13bbff, 30%);
$darkBlue: darken($blue, 50%);
.form-group label {
  display: block;
}
.alert {
  background: $blue;
  color: $darkBlue;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 50%;
  border: 1px solid $darkBlue;
  border-radius: 5px;
}