<template>

    <div>
        <b-navbar toggleable="lg" type="dark" variant="info">
            <b-navbar-brand href="#">Home</b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

            <b-collapse id="nav-collapse" is-nav>

                <b-navbar-nav>
                    <router-link :to="{ name: 'about' }" class="nav-link">About</router-link>
                    <router-link :to="{ name: 'users.index' }" class="nav-link">Users</router-link>
                    <router-link :to="{ name: 'currency.desc' }" class="nav-link">Currency Desc</router-link>
                    <router-link :to="{ name: 'random.chart' }" class="nav-link">Random Chart</router-link>
                </b-navbar-nav>

                <b-navbar-nav class="ml-auto">
                    <router-link v-if="!$auth.check()" :to="{ name: 'login' }" class="nav-link">Login</router-link>
                    <router-link v-if="!$auth.check()"  :to="{ name: 'register' }" class="nav-link">Register</router-link>
                    <a v-if="$auth.check()" href="#" @click.prevent="$auth.logout()" class="nav-link">Logout</a>
                </b-navbar-nav>

            </b-collapse>
        </b-navbar>
        <br>
        <div class="container">
            <router-view></router-view>
        </div>
    </div>

</template>
<script>
  export default {}
</script>