<template>
    <div>
        <section v-if="errored">
            <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
        </section>

        <div v-if="loading">Loading...</div>

        <span v-for="currency in info">
            {{ currency.description }}
            {{ currency.rate_float | currencydecimal }}
        </span>

        <div class="container-fluid">
            <line-chart :chart-data="datacollection"></line-chart>

            <b-button type="submit" variant="primary" @click="fillData()">Update</b-button>

        </div>

    </div>

</template>

<script>
  import axios from 'axios'
  import api from '../api/currency.js'
  import LineChart from '../chart/LineChart.js'

  export default {
    components: {
      LineChart
    },
    data() {
      return {
        message: null,
        currencies: null,
        info: null,
        loading: false,
        errored: false,
        allCurrencies: null,
        arrUsd: [],
        arrGbp: null,
        arrEur: null,
        //for chart
        datacollection: null
      }
    },
    beforeMount() {
      this.allCurrency()
    },
    mounted() {
      // for chart
      this.fillData();
    },
    filters: {
      currencydecimal(value) {
        return value.toFixed(2)
      }
    },
    methods: {
      fillData() {

        this.updateCurrency();
        this.allCurrency();

        //array quantity currencies
        //const quantityData = [...Array(this.currencies.usd.length).keys()];
        const quantityData = this.currencies.dates
        console.log(this.currencies.dates)

        this.datacollection = {
          labels: quantityData,
          datasets: [
            {
              label: 'USD',
              backgroundColor: '#69f800',
              data: this.currencies.usd
            }, {
              label: 'GBP',
              backgroundColor: '#1826f8',
              data: this.currencies.gbp
            }, {
              label: 'EUR',
              backgroundColor: '#f84236',
              data: this.currencies.eur
            }
          ]
        }
      },
      updateCurrency() {
        axios
          .get('https://api.coindesk.com/v1/bpi/currentprice.json')
          .then(response =>
            (this.info = response.data.bpi,
                this.saveCurrency({
                  usd: +this.info.USD.rate_float.toFixed(2),
                  gbp: +this.info.GBP.rate_float.toFixed(2),
                  eur: +this.info.EUR.rate_float.toFixed(2)
                })
            )
          )
          .catch(error => {
            console.log(error);
            this.errored = true;
          })
          .finally(() => (this.loading = false));
      },
      saveCurrency(data) {
        api.store(data)
      },
      allCurrency() {
        api.all()
          .then(response =>
            this.currencies = response.data,
          )
          .catch(function (error) {
            console.log(error);
          });
      },
    },
    watch: {
      chartData() {
        this.$data._chart.update()
      }
    }
  }
</script>

<style scoped>

</style>