<template>
    <div>
        <b-alert class="alert alert-danger" v-if="error" show>
            <a class="close" @click="hideAlert">&times;</a>
            <p>{{ remoteMsg }}</p>
        </b-alert>

        <b-form autocomplete="off" @submit.prevent="login" method="post">

            <b-form-group
                    id="input-group1"
                    label="Email"
                    label-for="input1"
            >
                <b-form-input
                        id="input1"
                        v-model="email"
                        type="email"
                        placeholder="Enter email"
                ></b-form-input>
            </b-form-group>

            <b-form-group
                    id="input-group2"
                    label="Password"
                    label-for="input2"
            >
                <b-form-input
                        id="input2"
                        v-model="password"
                        type="password"
                        placeholder="Enter password"
                ></b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
    </div>
</template>

<script>
  export default {
    data(){
      return {
        email: null,
        password: null,
        error: false,
        success: false,
        remoteMsg: ''
      }
    },
    methods: {
      login(){
        const app = this
        this.$auth.login({
          params: {
            email: app.email,
            password: app.password
          },
          success: function () {
            app.showAlert()
          },
          error: function (e) {
            const errResp = e.response.data;
            app.error = true;
            app.remoteMsg = errResp.msg;
            console.log('[Error] Login: ' + errResp.msg);
          },
          rememberMe: true,
          redirect: '/dashboard',
          fetchUser: true,
        });
      },
      hideAlert() {
        this.error = false;
      },
      showAlert(){
        // Use sweetalert2
        this.$swal("Hi!", "You are logged ", "success");
      }
    },
  }
</script>


<style scoped>

</style>