<template>
    <div>
        <h2>Not Found</h2>
        <p>Woops! Looks like the page you requested cannot be found.</p>
    </div>
</template>

<script>
  export default {
    name: "NotFound"
  }
</script>

<style scoped>

</style>