<template>
    <div>
        <b-alert variant="danger" v-if="error && !success" show>
            <p>There was an error, unable to complete registration.</p>
        </b-alert>
        <b-alert variant="success" v-if="success" show>
            <p>Registration completed. You can now
                <router-link :to="{name:'login'}">sign in.</router-link>
            </p>
        </b-alert>
        <b-form autocomplete="off" @submit.prevent="register" v-if="!success" method="post">
            <b-form-group
                    id="input-group-1"
                    label="Name"
                    label-for="input-1"
            >
                <b-form-input
                        id="input-1"
                        v-model="name"
                        type="text"
                        required
                        placeholder="Enter name"
                ></b-form-input>
                <span class="help-block" v-if="error && errors.name">{{ errors.name }}</span>
            </b-form-group>

            <b-form-group
                    id="input-group-2"
                    label="Email"
                    label-for="input-2"
            >
                <b-form-input
                        id="input-2"
                        v-model="email"
                        type="email"
                        required
                        placeholder="Enter email"
                ></b-form-input>
                <span class="help-block" v-if="error && errors.email">{{ errors.email }}</span>
            </b-form-group>

            <b-form-group
                    id="input-group-3"
                    label="Password"
                    label-for="password"
            >
                <b-form-input
                        id="password"
                        v-model="password"
                        type="text"
                        name="password"
                        required
                        placeholder="Enter password"
                        ref="password"
                ></b-form-input>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
            </b-form-group>

            <b-form-group
                    id="input-group-4"
                    label="Password confirmation"
                    label-for="Password confirmation"
            >
                <b-form-input
                        id="input-4"
                        type="text"
                        name="password_confirmation"
                        placeholder="Enter password"
                        data-vv-as="password"
                        v-validate="'required|confirmed:password'"
                        required
                ></b-form-input>
                <span class="help-block" v-if="error && errors.password">{{ errors.password }}</span>
                <p v-show="vErrors.has('password_confirmation')" class="help is-danger">
                    {{ vErrors.first('password_confirmation') }}
                </p>
            </b-form-group>
            {{ vErrors }}
            <b-button type="submit" variant="primary" :disabled="vErrors.has('password_confirmation')">
                Submit
            </b-button>
        </b-form>
    </div>
</template>

<script>
  export default {
    data() {
      return {
        name: '',
        email: '',
        password: '',
        error: false,
        errors: {},
        success: false
      };
    },
    methods: {
      register() {
        const app = this
        this.$auth.register({
          data: {
            name: app.name,
            email: app.email,
            password: app.password
          },
          success: function () {
            app.success = true
          },
          error: function (resp) {
            app.error = true;
            app.errors = resp.response.data.errors;
          },
          redirect: null
        });
      }
    }
  }
</script>

<style scoped>

</style>