<template>
    <div class="users">
        <h3>Users</h3>
        <div v-if="error" class="error">
            <p>{{ error }}</p>
        </div>
        <br>

        <!-- Second create user
        <div class="form-group" v-if="$auth.check()">-->
            <!--<router-link :to="{ name: 'users.create' }">Add new user</router-link>-->
        <!--</div>-->

        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Operation</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="{ id, name, email } in users">
                <td>{{ id }}</td>
                <td>{{ name }}</td>
                <td>{{ email }}</td>
                <td>
                    <router-link v-if="$auth.check()" :to="{ name: 'users.edit', params: { id } }">Edit</router-link>
                    <p v-if="!$auth.check()">You need authentication to edit</p>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="pagination">
            <button :disabled="! prevPage" @click.prevent="goToFirst" class="page-link">
                <i class="fas fa-chevron-left"></i><i class="fas fa-chevron-left"></i>
            </button>
            <button :disabled="! prevPage" @click.prevent="goToPrev" class="page-link">
                <i class="fas fa-chevron-left"></i>
            </button>
            <span>{{ paginatonCount }}</span>
            <button :disabled="! nextPage" @click.prevent="goToNext" class="page-link">
                <i class="fas fa-chevron-right"></i>
            </button>
            <button :disabled="! nextPage" @click.prevent="goToLast" class="page-link">
                <i class="fas fa-chevron-right"></i><i class="fas fa-chevron-right"></i>
            </button>
        </div>

    </div>
</template>
<script>
  import api from '../api/users';

  const getUsers = (page, callback) => {
    const params = {page};

    api.all({params})
      .then(response => {
        callback(null, response.data);
      }).catch(error => {
      callback(error, error.response.data);
    });
  };

  export default {
    data() {
      return {
        users: null,
        meta: null,
        links: {
          first: null,
          last: null,
          next: null,
          prev: null,
        },
        error: null,
      };
    },
    computed: {
      nextPage() {
        if (!this.meta || this.meta.current_page === this.meta.last_page) {
          return;
        }

        return this.meta.current_page + 1;
      },
      prevPage() {
        if (!this.meta || this.meta.current_page === 1) {
          return;
        }

        return this.meta.current_page - 1;
      },
      paginatonCount() {
        if (!this.meta) {
          return;
        }

        const {current_page, last_page} = this.meta;
        this.currentPage = current_page;

        return `${current_page} of ${last_page}`;
      },
    },
    beforeRouteEnter(to, from, next) {
      getUsers(to.query.page, (err, data) => {
        next(vm => vm.setData(err, data));
      });
    },

    beforeRouteUpdate(to, from, next) {
      this.users = this.links = this.meta = null
      getUsers(to.query.page, (err, data) => {
        this.setData(err, data);
        next();
      });
    },
    methods: {
      goToNext() {
        this.$router.push({
          query: {
            page: this.nextPage,
          },
        });
      },
      goToPrev() {
        this.$router.push({
          name: 'users.index',
          query: {
            page: this.prevPage,
          }
        });
      },
      goToFirst() {
        this.$router.push({
          query: {
            page: 1,
          },
        });
      },
      goToLast() {
        this.$router.push({
          query: {
            page: this.meta.last_page,

          },
        });
      },
      setData(err, {data: users, links, meta}) {
        if (err) {
          this.error = err.toString();
        } else {
          this.users = users;
          this.links = links;
          this.meta = meta;
        }
      },
    }
  }
</script>