<template>
    <div>
        <br>
        <h4>Add new user</h4>
        <b-alert variant="success" show v-if="message">{{ message }}</b-alert>
        <div v-if="errors" class="alert-danger">
            <ul class="alert-danger">
                <li v-for="value in errors">{{ value }}</li>
            </ul>
        </div>

        <b-form @submit.prevent="onSubmit($event)">

            <b-form-group id="fieldset-1" label="Enter your name" label-for="user_name">
                <b-form-input
                        id="user_name"
                        v-model="user.name" :class="{'is-invalid': errors.name}"
                >
                </b-form-input>
            </b-form-group>

            <b-form-group id="fieldset-2" label="Enter your email" label-for="user_email">
                <b-form-input
                        id="user_email"
                        v-model="user.email" :class="{'is-invalid': errors.email}"
                >
                </b-form-input>
            </b-form-group>

            <b-form-group id="fieldset-3" label="Enter your password" label-for="user_password">
                <b-form-input
                        id="user_password"
                        type="password"
                        required
                        v-model="user.password"
                        name="password"
                        ref="password"
                        :class="{'is-invalid': errors.password}"
                >
                </b-form-input>
            </b-form-group>

            <b-form-group id="fieldset-4" label="Confirm your password" label-for="password_confirmation">
                <b-form-input
                        id="password_confirmation"
                        type="password"
                        name="password_confirmation"
                        required
                        data-vv-as="password"
                        v-validate="'required|confirmed:password'"
                >
                </b-form-input>
                <p v-show="vErrors.has('password_confirmation')" class="help is-danger">
                    {{ vErrors.first('password_confirmation') }}
                </p>

            </b-form-group>

            <b-button type="submit" variant="outline-primary" :disabled="vErrors.has('password_confirmation')">
                Create
            </b-button>

        </b-form>
    </div>
</template>

<script>
  import api from '../api/users';

  export default {

    data() {
      return {
        message: null,
        user: {
          name: "",
          email: "",
          password: "",
        },
        errors: {},
      };
    },

    methods: {
      onSubmit(event) {
        api.create({
          name: this.user.name,
          email: this.user.email,
          password: this.user.password,
        })
          .then((response) => {
            this.message = 'User created, You will be redirect to back';
            this.errors = {};
            setTimeout(() => {
              this.message = null;
              this.$router.push({name: 'users.index'})
            }, 5000);

          }).catch(error => {
          console.log(error);
          this.errors = error.response.data.errors;
        })
      }
    },
  };
</script>

<style lang="scss" scoped>

</style>