<template>
    <div>
        <br>
        <h4>Edit user</h4>
        <div v-if="message" class="alert">{{ message }}</div>

        <div v-if="errors" class="alert-danger">
            <ul class="alert-danger">
                <li v-for="value in errors">{{ value }}</li>
            </ul>
        </div>
        <div v-if="! loaded">Loading...</div>

        <b-form @submit.prevent="onSubmit($event)" v-else>

            <b-form-group id="fieldset-1" label="Enter your name" label-for="user_name">
                <b-form-input
                        id="user_name"
                        v-model="user.name" :class="{'is-invalid': errors.name}"
                >
                </b-form-input>
            </b-form-group>

            <b-form-group id="fieldset-2" label="Enter your email" label-for="user_email">
                <b-form-input
                        id="user_email"
                        v-model="user.email" :class="{'is-invalid': errors.email}"
                >
                </b-form-input>
            </b-form-group>

            <b-button type="submit" variant="primary" :disabled="saving">Update</b-button>
            <b-button variant="danger" :disabled="saving" @click.prevent="onDelete($event)">Delete</b-button>

        </b-form>

    </div>
</template>
<script>
  import api from '../api/users';

  export default {
    data() {
      return {
        message: null,
        loaded: false,
        saving: false,
        errors: {},
        user: {
          id: null,
          name: "",
          email: ""
        }
      };
    },

    methods: {
      onSubmit(event) {
        this.saving = true;

        api.update(this.user.id, {
          name: this.user.name,
          email: this.user.email,
        }).then((response) => {
          this.errors = {};
          this.message = 'User updated';
          setTimeout(() => this.message = null, 10000);
          this.user = response.data.data;
        }).catch(error => {
          this.message = null;
          this.errors = error.response.data.errors;
          console.log(error);
        }).then(_ => this.saving = false);
      },
      onDelete(event) {
        this.saving = true;
        api.delete(this.user.id)
          .then((response) => {
            this.message = 'User Deleted';
            setTimeout(() => this.$router.push({name: 'users.index'}), 2000);
          });
      }
    },
    created() {
      api.find(this.$route.params.id).then((response) => {
        this.loaded = true;
        this.user = response.data.data;
      }).catch(() => {
        this.$router.push({name: '404'});
      });
    },
  };
</script>
<style scoped>

</style>